* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  body {
    font-family: Roboto;
      font-weight: 500;
      text-transform: inherit;
      text-align: inherit;
    
  
  }
  .header {
    height: 399px;
    width: 100%;
    opacity: 1;
    filter:brightness(70%);
    
  
  }
  
  .lets h1 {
    font-size: 170%;
  }
  .footer {
    background-color: #181818;
    margin-bottom: -30px;
    padding: 100px 0 70px;
  }
  div {
    display: block;
  }
  .widget-pages ul {
    list-style: none;
    columns: 2;
    overflow: hidden;
    
  }
  .footer-bottom {
    background-color: #000000;
    border-top: 1px solid #0d425b;
    padding: 30px 0 25px;
    font-size: 14px;
    color: aliceblue;
  }
  .widget-pages {
    color: beige;
  }
  
  
  
  