<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css-software-incubation/STIncubation.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css-software-incubation/StSoftware.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body style="background-color: #f5f5f5">
    <div >
      <div class="container">
        <div class="row">
          <div class="col-sm-0 col-md-0 col-lg-0 mr-auto">
            <h1>ST INCUBATION</h1>
            <p>
              After long time working in software development outsourcing
              industry, founders of <strong class>ST United</strong> still keep
              intense aspiration how to apply the high technologies to solve the
              society problem in Vietnam.
            </p>
            <p class="text__incubation">
              Beginning as a provider of co-working spaces with
              <strong class>IoT Space</strong> and Nomad Space in Danang,
              <strong class>ST United</strong> would like to support the startup
              and ICT community. Moreover,
              <strong class>ST United</strong> provides incubator programs for
              budding entrepreneurs. The program focuses on providing resources
              and support for startups in terms of business modeling, market
              penetration and even product development.
            </p>
          </div>
        </div>
      </div>
      <div class="information__incubation">
        <div class="container" >
            <div class="row">
                <div class="col-sm-0 col-md-0 col-lg-4 ">
                    <div class="card-body">
                        <div style="display: flex;">
                            <div style="position: relative; right:20px;top:100px; font-size: 30px;">
                                <img width="60px" height="60px" 
                                src="https://stunited.vn/wp-content/uploads/2019/09/icuba-150x150.png" >
                            </div>
                            <div class="cardContainer">
                                <h5 class="card-title"></i>Incubator Program</h5>
                                <p class="card-text">Targeting early-stage startups in multiple sectors, our goal is to support founders with practical education and mentorship from idea validation, MVP development, and business validation stage.</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-0 col-lg-4 ">
                    <div class="card-body">
                        <div style="display: flex;">
                            <div style="position: relative; right:20px; top:100px;font-size: 30px;">
                                <img width="60px" height="60px" 
                                src="https://stunited.vn/wp-content/uploads/2019/09/icons-400sq-record-keeping-office-space-150x150.png" >
                            </div>
                            <div class="cardContainer">
                                <h5 class="card-title"></i>Coworking Space</h5>
                                <p class="card-text">Based on coworking platform with IoT Space, Nomad Space... provides not only space for working but also an opportunity for members to thrive by exploring collaboration, learning, and access to our strategic network.</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-0 col-lg-4 ">
                    <div class="card-body">
                        <div style="display: flex;">
                            <div style="position: relative; right:20px; top:100px;font-size: 30px;">
                                <img width="60px" height="60px" 
                                src="https://stunited.vn/wp-content/uploads/2019/09/Money-512-150x150.png" >
                            </div>
                            <div class="cardContainer">
                                <h5 class="card-title"></i>Strategic Funding</h5>
                                <p class="card-text">ST United is considering an early stage VC fund that invests in technology startups in Vietnam, particularly Danang, at their early and growth stages. We provide funding, and assistance by establishing strategic partnerships to help startups scale their businesses</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  
   
</div>
    <section style="background-color: white;  padding-top: 0.2px;">
      <div class="container stories" style="margin-top: 155px">
        <h2 class="stories__title">Our incubating projects</h2>
        <h3 class="stories__desc">We are supporting for these cool teams</h3>
        <div class="stories__content">
          <div class="stories__content-item item">
            <div class="item__img">
              <img
                src="https://stunited.vn/wp-content/uploads/2019/09/iot-e1567668899699.jpg"
                alt="Story"
              />
            </div>
            <div class="item__desc">
              <div class="item__desc-first">
                <h4>
                  <a href="#">IoT Space</a>
                </h4>
                <p>#coworking space</p>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
              <div class="item__desc-second">
                <h4><a href="#">IoT Space</a></h4>
                <p class="technical"><a href="#">#coworking space</a></p>
                <p class="description">
                  Taking advantage of the co-founder team with experience in the
                  software development, IoT Space aims to target customers who
                  are developers, SMEs or tech start-up.
                </p>
                <ul class="team-social">
                  <li>
                    <a
                      target=""
                      href="https://www.facebook.com/stunited.vn/"
                      class="btn-facebook"
                    >
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="" href="#" class="btn-linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="stories__content-item item">
            <div class="item__img">
              <img
                src="https://stunited.vn/wp-content/uploads/2019/09/nomadspace.jpg"
                alt="Story"
              />
            </div>
            <div class="item__desc">
              <div class="item__desc-first">
                <h4>
                  <a href="#">Nomad Space</a>
                </h4>
                <p>#coworking space</p>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
              <div class="item__desc-second">
                <h4><a href="#">Nomad Space</a></h4>
                <p class="technical"><a href="#">#coworking space</a></p>
                <p class="description">
                  A casual, comfortable, and convenient place to work with the
                  benefit of cafe service and a collaborative community. Nomad
                  space is intend to digital nomad community for working,
                  meetup, business exchange
                </p>
                <ul class="team-social">
                  <li>
                    <a
                      target=""
                      href="https://www.facebook.com/stunited.vn/"
                      class="btn-facebook"
                    >
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="" href="#" class="btn-linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="stories__content-item item">
            <div class="item__img">
              <img
                src="https://stunited.vn/wp-content/uploads/2019/09/ciaoflora-1.jpg"
                alt="Story"
              />
            </div>
            <div class="item__desc">
              <div class="item__desc-first">
                <h4>
                  <a href="#">Ciaoflora</a>
                </h4>
                <p>#ecommerce #flower delivery</p>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  </li>
                </ul>
              </div>
              <div class="item__desc-second">
                <h4><a href="#">Ciaoflora</a></h4>
                <p class="technical">
                  <a href="#">#ecommerce #flower delivery</a>
                </p>
                <p class="description">
                  As a member of Interflora worldwide (ID 292), Ciaoflora Việt
                  Nam is leading online flower service of Vietnam - which can
                  not only offer express flower delivery (within 2-3 hours of
                  ordering) and same day delivery but worldwide flower delivery
                  too.
                </p>
                <ul class="team-social" style="display: flex">
                  <li>
                    <a
                      target=""
                      href="https://www.facebook.com/stunited.vn/"
                      class="btn-facebook"
                    >
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="" href="#" class="btn-twitter">
                      <i class="fab fa-twitter-square"></i>
                    </a>
                  </li>
                  <li>
                    <a target="" href="#" class="btn-google">
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="stories__content-item item">
            <div class="item__img">
              <img
                src="https://stunited.vn/wp-content/uploads/2019/09/cafedat-1024x1024-1.jpg"
                alt="Story"
              />
            </div>
            <div class="item__desc">
              <div class="item__desc-first">
                <h4>
                  <a href="#">Cafe Dat - ダトコーヒー</a>
                </h4>
                <p>#coffee product</p>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  </li>
                </ul>
              </div>
              <div class="item__desc-second">
                <h4><a href="#">Cafe Dat - ダトコーヒー</a></h4>
                <p class="technical"><a href="#">#coffee product</a></p>
                <p class="description">
                  Cafe Dat is aiming not only bring the best coffee experience
                  to consumers, but also to produce the highest quality coffee.
                </p>
                <ul class="team-social">
                  <li>
                    <a
                      target=""
                      href="https://www.facebook.com/stunited.vn/"
                      class="btn-facebook"
                    >
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="" href="#" class="btn-linkedin">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
