* {
  font-family: "Roboto";
}

@media screen and (max-width: 765px) {
  .container {
    width: 450px !important;
    max-width: 470px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (min-width: 1250px) {
  .container {
    width: 1200px !important;
    max-width: 1220px !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1220px) {
  .container {
    width: 1000px !important;
    max-width: 1100px !important;
  }
}
@media only screen and (max-width: 992px) and (min-width: 766px) {
  .container {
    width: 780px !important;
    max-width: 800px !important;
  }
}
.title-wrapper {
  padding: 55px 0 43px 0;
}
.title-wrapper .heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
}
.title-wrapper .sub-heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.story-card__image {
  width: 100%;
  vertical-align: middle;
}
.story-name {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 8px;
}
.story-block {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.story-block:hover .story-overlay-before {
  transform: translateX(-100%);
}
.story-block:hover .story-overlay-after {
  width: 100%;
  left: 0;
}
.story-overlay-before {
  transition: 0.5s;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 55%, rgba(0, 0, 0, 0.8) 100%);
}
.story-overlay-before h4 {
  color: #fff;
}
.story-overlay-before i {
  color: #fff;
}
.story-overlay-after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  overflow: hidden;
  z-index: 4;
  overflow: auto;
}
.story-overlay-after .story-description-wrapper {
  padding: 15px 20px;
  overflow: scroll;
}
.story-overlay-after a {
  color: #000;
}
.story-overlay-after a:hover {
  text-decoration: none;
  color: #00AEEF;
}
.story-overlay-after .facebook-icon {
  color: #7f7f7f;
}
.story-overlay-after .facebook-icon:hover {
  color: #506dab;
}
.story-overlay-after .linkedin-icon {
  color: #7f7f7f;
}
.story-overlay-after .linkedin-icon:hover {
  color: #007bb6;
}
.story-hashtag {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
  color: #fff;
  text-transform: none;
}
.story-description {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin: 15px 0 20px;
}
.story-description-block {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}
.story-description-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.story-center-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  padding: 15px 20px;
}

.social-icon {
  padding: 0 3px 0 3px;
}
.social-icon-wrapper {
  display: flex;
  align-self: center;
}
.social-icon-wrapper a {
  text-transform: none;
}

.image-section {
  background-image: url("https://stunited.vn/wp-content/uploads/2016/02/houzez-header-4.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.image-section-inner {
  padding: 35px 15px 0 15px;
}
.image-section__content {
  padding: 0px 0 55px;
  cursor: pointer;
}
.image-section .service-block {
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.image-section .service-block__content {
  margin: 0 10px;
}
.image-section .service-block__content .block__icon {
  cursor: pointer;
  font-size: 60px;
  min-width: 80px;
  padding: 80px 0 70px;
}
.image-section .service-block:hover {
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transform: translateY(-10px);
  transition: 0.2s;
}
.image-section .service-name {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.image-section .service-description {
  font-weight: 300;
  font-size: 16px;
  color: #636363;
}
.image-section .service-view-more {
  font-weight: 400;
  font-size: 16px;
  color: #00AEEF;
  text-decoration: none;
}

.slider-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.slider-control__button {
  color: #00AEEF;
  background-color: transparent;
  border: 1px solid #00AEEF;
  border-radius: 3px;
  font-size: 10px;
  margin: 1px;
}
.slider-control__button:hover {
  color: #fff;
  background-color: #00AEEF;
}
.slider-content {
  margin-top: 40px;
}
.slider-content__item {
  width: 292.5px;
}

.partner-logo {
  text-align: center;
}
.partner-logo img {
  width: auto !important;
  display: inline-block !important;
}

@media only screen and (max-width: 792px) {
  .partner-logo img {
    width: 120px !important;
    height: 120px !important;
  }
}
.owl-stage {
  transform: translate3d(-2047px, 0px, 0px);
  transition: 1.4s;
}
.owl-dots {
  margin-top: 10px;
}
.owl-dot {
  display: inline;
}
.owl-dot span {
  margin: 0px !important;
}
.owl-item-partner {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  list-style-type: none;
  padding: 35px 15px;
  text-align: center;
}/*# sourceMappingURL=HomePageBody.css.map */