* {
    font-family: 'Roboto';
}

@media screen and (max-width: 765px) {
    .container {
        width: 450px !important;
        max-width: 470px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 1250px) {
    .container {
        width: 1200px !important;
        max-width: 1220px !important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1220px) {
    .container {
        width: 1000px !important;
        max-width: 1100px !important;
    }
}

@media only screen and (max-width: 992px) and (min-width: 766px) {
    .container {
        width: 780px !important;
        max-width: 800px !important;
    }
}


.title-wrapper {
    padding: 55px 0 43px 0;

    .heading {
        font-size: 24px;
        font-weight: 500; 
        line-height: 32px;

        margin-bottom: 10px;
    }
    
    .sub-heading {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}

.story {
    &-card {    
        &__image {
            width: 100%;
            vertical-align: middle;
        }
    }

    &-name {
        font-size: 16px;
        font-weight: 700;

        margin: 0 0 8px;
    }

    &-block {
        overflow: hidden; //

        position: relative;

        margin-bottom: 10px;

        &:hover .story-overlay-before {
            transform: translateX(-100%);
        }

        &:hover .story-overlay-after{
            width: 100%;
            left: 0;
        }
    }

    &-overlay {

        &-before {
            transition: 0.5s;

            position: absolute;

            z-index: 2;

            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0,rgba(0,0,0,0.2) 55%,rgba(0,0,0,0.8) 100%);

            & h4 {
                color: #fff;
            }

            & i {
                color: #fff;
            }
        }

        &-after {
            position: absolute;

            bottom: 0;
            right: 0;
            left: 100%;

            background-color: rgba(255,255,255,0.9);

            width: 100%;
            height: 100%;

            transition: .4s ease;

            overflow: hidden;

            z-index: 4;

            overflow: auto;

            & .story-description-wrapper {
                padding: 15px 20px;
                overflow: scroll;
                
            }

            & a {
                color: #000;

                &:hover {
                    text-decoration: none;
                    color: #00AEEF;
                }
            }

            & .facebook-icon {
                color: #7f7f7f;

                &:hover {
                    color: #506dab;
                }
            }

            & .linkedin-icon {
                color: #7f7f7f;

                &:hover {
                    color: #007bb6;
                }
            }
        }
    }

    &-hashtag {
        font-size: 14px;
        font-weight: 400;

        margin: 0 0 12px;

        color: #fff;
        text-transform: none;
    }

    &-description {
        font-size: 14px;
        font-weight: 300;

        color: rgba(0,0,0,.7);

        margin: 15px 0 20px;

        &-block {
            width: 100%;
            height: 100%;
            padding: 15px 20px;
        }

        &-wrapper {
            height: 100%; 
            width: 100%;

            display: flex; 
            flex-direction: column-reverse; 
        }
    }

    &-center-content {
        display: flex; 
        flex-direction: column;
        align-self: center;
        justify-content: center;

        height: 100%; 

        padding: 15px 20px;
    }
}

.social-icon {
    padding: 0 3px 0 3px;

    &-wrapper {
        display: flex; 
        align-self: center;

        & a {
            text-transform: none;
        }
    }
}

.image-section {
    background-image: url("https://stunited.vn/wp-content/uploads/2016/02/houzez-header-4.jpg");
    background-size: cover;
    background-position-x: 50%;
    

    &-inner {
        padding: 35px 15px 0 15px;
    }

    &__content {
        padding: 0px 0 55px;

        cursor: pointer;
    }
    
    .service {
        &-block {
            background-color: #fff;

            text-align: center;

            box-shadow: 0 0 3px rgba(0,0,0,.15);

            &__content {
                margin: 0 10px;

                .block__icon {
                    cursor: pointer;

                    font-size: 60px;
                    min-width: 80px;

                    padding: 80px 0 70px;
                }
            }

            &:hover {
                box-shadow: 0 70px 70px rgba(0,0,0,.2);

                z-index: 3;

                transform: translateY(-10px);
                transition: 0.2s;
            }
        }

        &-name {
            font-weight: 500;
            font-size: 20px;

            color: #000;
        }

        &-description {
            font-weight: 300;
            font-size: 16px;

            color: #636363;
        }

        &-view-more {
            font-weight: 400;
            font-size: 16px;

            color: #00AEEF;
            text-decoration: none;
        }

    }
}

.slider {
    &-button-wrapper {
        display: flex; 
        justify-content: flex-end
    }

    &-control__button {
        color: #00AEEF;
        background-color: transparent;

        border: 1px solid #00AEEF;
        border-radius: 3px;

        font-size: 10px;

        margin: 1px;

        &:hover {
            color: #fff;
            background-color: #00AEEF;
        }
    }

    &-content {
        margin-top: 40px;

        &__item {
            width: 292.5px;
        }
    }
    
}

.partner {
    &-logo {
        text-align: center;

        img {
            width: auto !important; 
            display: inline-block !important;
        }
    }
}

@media only screen and (max-width: 792px) {
    .partner-logo {
        img {
            width: 120px !important;
            height: 120px !important;
        }
    } 
}

.owl {
    &-stage {
        transform: translate3d(-2047px, 0px, 0px);
        transition: 1.4s;
    }

    &-dots {
        margin-top: 10px;
    }

    &-dot {
        display: inline;

        & span {
            margin: 0px !important;
        }
    }

    &-item-partner {
        box-shadow: 0 0 3px rgba(0,0,0,.15);
        background-color: #fff;
        list-style-type: none;
        padding: 35px 15px;
        text-align: center;
    }
}




