<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevPlus</title>

    <!-- LightSlider -->
    <link
      type="text/css"
      rel="stylesheet"
      href="../../../assets/packages/lightslider-master/dist/css/lightslider.css"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../../assets/packages/lightslider-master/dist/js/lightslider.js"></script>

    <link rel="stylesheet" href="HomePageBody.css" />
  </head>
  <body>
    <!-- Third part -->
    <div class="container">
      <div class="slider-content-wraper">
        <div class="demo">
          <div class="">
            <ul id="content-slider" class="content-slider">
              <li>
                <h3>1</h3>
              </li>
              <li>
                <h3>2</h3>
              </li>
              <li>
                <h3>3</h3>
              </li>
              <li>
                <h3>4</h3>
              </li>
              <li>
                <h3>5</h3>
              </li>
              <li>
                <h3>6</h3>
              </li>
            </ul>
          </div>
        </div>
      </body>
      </div>
    </div>

  <script>
    $(document).ready(function () {
      var slider = $("#content-slider").lightSlider({
        slideMargin:20,
        loop: true,
        keyPress: true,
        thumbItem: 3,
        item: 4,
      });
    });
  </script>
</html>
