@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.test{
    position: fixed;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
.header {
  height: 430px;
}

.lets h1 {
  font-size: 170%;
}
.footer {
  background-color: #181818;
  margin-bottom: -30px;
  padding: 100px 0 70px;
}
div {
  display: block;
}
.widget-pages ul {
  list-style: none;
  columns: 2;
  overflow: hidden;
}
.footer-bottom {
  background-color: #000000;
  border-top: 1px solid #0d425b;
  padding: 30px 0 25px;
  font-size: 14px;
  color: aliceblue;
  top:0;
}
.widget-pages {
  color: beige;
}
.footer__text--color, .contact_text{
    color: #fff;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
}
.sub-menu{
    display: block;
    margin-left: 30px;
}
.widget-title{
    font-size: 22px;
    font-weight: 500;
}
